<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
  <!-- Thêm các file CSS của Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .card {
      display: inline-block;
      padding: 12px 24px;
      background-color: #c3e6cb;
      color: black;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border-radius: 8px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }


  </style>
</head>
<body>
<!-- Thêm Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Furama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{employee}">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{customer}">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{service}">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{contract}">Contract</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{logout}">Logout</a>
      </li>
      <form class="form-inline ml-auto" action="/contract" method="get">
        <input style="margin-left: 500px" class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm Hợp Đồng"
               aria-label="Tìm kiếm" name="namecustomer">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
      </form>
    </ul>
  </div>
</nav>
<!--<a style="margin-top: 30px" th:href="@{/create_contract}" class="card">Lưu Hợp Đồng</a>-->

<!-- Thêm nội dung trang -->
<div class="container my-5" style="width: 100% !important;">
  <h1 class="text-center">Danh sách Hợp Đồng</h1>
  <div class="container my-5"style="width: 100% !important;">
    <B th:text="${sms}"></B>
    <table class="table" style="width: 100%">
      <thead>
      <tr>
        <th>ID Hợp Đồng</th>
        <th>Ngày Bắt Đầu</th>
        <th>Ngày Kết Thúc</th>
        <th>Tổng Tiền Trả</th>
        <th>Tổng Tiền Đặt Cọc</th>
        <th>Tên Khách Hàng</th>
        <th>Tên Nhân Viên Đảm Nhận</th>
        <th>Tên Dịch Vụ</th>
        <th>Loại Nhà Thuê</th>
        <th>Kiểu Thuê</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="co : ${listcontract}">
        <td th:text="${co.getIdContract()}"></td>
        <td th:text="${co.getStartDay()}"></td>
        <td th:text="${co.getEndDay()}"></td>
        <td th:text="${co.getFacility().getCost()}"></td>
        <td th:text="${co.getDeposit()}"></td>
        <td th:text="${co.getCustomer().getNameCustomer()}"></td>
        <td th:text="${co.getEmployee().getNameEmployee()}"></td>
        <td th:text="${co.getFacility().getNameOfFacility()}"></td>
        <td th:text="${co.getFacility().getFacilityType().nameOfFacilityType}"></td>
        <td th:text="${co.getFacility().getRentType().nameOfRentType}"></td>
        <td>
          <a style="background-color: black;color: white" th:href="@{/delete_contract?id_contract=__${co.getIdContract()}__}" class="card" onclick="return confirm('Bạn Có Chắc Chắn Muốn Xóa Không?');">Delete</a>
          <a style="background-color: black;color: white" th:href="@{/edit_contract?id_contract=__${co.getIdContract()}__}" class="card">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a th:if="${listcontract.hasPrevious()}" class="page-link" th:href="@{/contract?page=__${listcontract.number - 1}__}" >Trước</a>
        </li>
        <li class="page-item">
          <a th:if="${listcontract.hasNext()}" class="page-link" th:href="@{/contract?page=__${listcontract.number + 1}__}" >Sau</a>
        </li>
      </ul>
    </nav>
  </div>

</div>

<!-- Thêm footer -->
<footer class>
</footer>
