<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
  <!-- Thêm các file CSS của Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .card {
      display: inline-block;
      padding: 12px 24px;
      background-color: black;
      color:white;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border-radius: 8px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }


  </style>
</head>
<body>
<!-- Thêm Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Furama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{employee}">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{customer}">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{service}">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{contract}">Contract</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{logout}">Logout</a>
      </li>
      <form class="form-inline ml-auto" action="/employee" method="get">
        <input style="margin-left: 500px" class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm Nhân Lực"
               aria-label="Tìm kiếm" name="nameemployee">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
      </form>
    </ul>
  </div>
</nav>
<a style="margin-top: 30px;background-color: black;color: white" th:href="@{/create_employee}" class="card">Thêm Mới Nhân Lực</a>

<!-- Thêm nội dung trang -->
<div class="container my-5">
  <h1 class="text-center">Danh sách Nhân Lực</h1>
  <div class="container my-5">
    <B th:text="${sms}"></B>
    <table class="table">
      <thead>
      <tr>
        <th>ID Nhân Lực</th>
        <th>Tên Nhân Lực</th>
        <th>Ngày Sinh</th>
        <th>CMND</th>
        <th>Lương</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa Chỉ</th>
        <th>Vị Trí</th>
        <th>Học Vấn</th>
        <th>Phòng Ban</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="em : ${listEm}">
        <td th:text="${em.idEmployee}"></td>
        <td th:text="${em.nameEmployee}"></td>
        <td th:text="${em.dateOfBirthEm}"></td>
        <td th:text="${em.id_cardEm}"></td>
        <td th:text="${em.salary}"></td>
        <td th:text="${em.phoneNumberEmployee}"></td>
        <td th:text="${em.emailEmployee}"></td>
        <td th:text="${em.addressEmployee}"></td>
        <td th:text="${em.position.namePosition}"></td>
        <td th:text="${em.education_degree.nameOfEducationDegre}"></td>
        <td th:text="${em.division.nameDivision}"></td>
        <td>
          <a style="background-color: black;color: white" th:href="@{/delete_employee?nameemployee=__${em.nameEmployee}__}" class="card" onclick="return confirm('Bạn Có Chắc Chắn Muốn Xóa Không?');">Delete</a>
          <a style="background-color: black;color: white" th:href="@{/edit_employee?nameemployee=__${em.nameEmployee}__}" class="card">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a style="background-color: black;color: white" th:if="${listEm.hasPrevious()}" class="page-link" th:href="@{/employee?page=__${listEm.number - 1}__}" >Trước</a>
        </li>
        <li class="page-item">
          <a style="background-color: black;color: white" th:if="${listEm.hasNext()}" class="page-link" th:href="@{/employee?page=__${listEm.number + 1}__}" >Sau</a>
        </li>
      </ul>
    </nav>
  </div>

</div>

<!-- Thêm footer -->
<footer class>
</footer>
